<button
  type="button"
  class="button-show-menu button-show-menu-visible"
  >
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
</button>

<div class="menu-container menu-hidden">
  <button
    type="button"
    class="button-close-menu button-show-menu-visible"
    >
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
  </button>

  <div class="menu-content">
    <nav class="menu-nav">
      <a href="{% url 'recipes:home' %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url 'author:dashboard_recipe_create' %}">New Recipe</a>
        <a href="{% url 'author:dashboard' %}">Dashboard</a>
        <a class="authors-logout-link" href="#">Logout</a>
        {% include 'authors/partials/form_logout.html' %}
      {% else %}
        <a href="{% url 'author:login' %}">Login</a>
        <a href="{% url 'author:register' %}">Register</a>
      {% endif %}
    </nav>
  </div>
</div>
